# System files
.DS_Store

# Python cache files.
*.pyc
.pytest_cache/
.spyproject
**/__pycache__/

# Virtual environment
env/

# Configuration files
experiment_settings.ini

# Ben's Sublime files.
sftp-config.json

# Test code scratch output directories.
actual_output/

# Jupyter checkpoints
.ipynb_checkpoints/

# pytest-cov data
.coverage

# test data output
**/test/data/output/

# documentation generation
doc/html/

# user error logs and lookfast details
de430t.bsp
error_logs/
