# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# or, once you have an environment:
# $ conda install --file requirements.txt
# or:
# $ pip install -r requirements.txt

# Note, these versions were what was available at the time for python 3.10.6. Other versions of these libraries may also work.
# Note, please leave the hashtags (eg #tag) in place. These are here for processing this file for parallel execution.

# packages that can be installed with conda on solo #condapkgs
h5py >= 3.10.0
imageio >= 2.34.0
matplotlib <= 3.8.4
numpy <= 1.26.4
pandas >= 2.2.1
pillow >= 10.2.0
pyproj >= 3.6.1
pytz >= 2024.1
scipy >= 1.12.0
sympy >= 1.12

# packages that can't be installed with conda but can be installed with pip on solo #pippkgs
ipykernel >= 6.29.3
opencv-contrib-python >= 4.8.1.78
pytest >= 8.1.1
python-pptx >= 0.6.23
rawpy >= 0.19.1
openpyxl >= 3.1.2

# these are packages that have errors with both conda and pip on solo #errpkgs
pypylon >= 2.3.0

pysolar >= 0.11
tqdm >= 4.66.2

pytest-xvfb >= 3.0.0
pytest-cov >= 4.1.0